<section class="container-fluid w-100 h-10 p-0">

    <div class="panel__header panel__header--white d-flex justify-content-end justify-content-sm-between">
        <p class="panel__header--title d-none d-sm-block">Listado Propietarios</p>
        <div class="form__field h-auto">
            <div class="form__input-wrapper">
                <i class="form__icon fa-solid fa-magnifying-glass"></i>
                <input 
                    type="text" 
                    class="form__input" 
                    placeholder="Buscar (nombre, correo, etc..)" 
                    (keyup)="applyFilter($event)" 
                    #input />
            </div>
        </div>
    </div>

    <section class="panel__body p-2 p-md-3">

        @if (isLoading()) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }

        <main class="container__table">
            <mat-table [dataSource]="dataSource" matSort>
                
                <ng-container matColumnDef="identification">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> 
                         <span class="container__table--title">Cédula</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.identification }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="container__table--title">Apellidos</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.lastName }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <span class="container__table--title">Nombres</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.firstName }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>                          
                        <span class="container__table--title">Teléfono</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{ element.phone }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> 
                        <span class="container__table--title">Acciones</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button 
                            class="button--action" 
                            type="button" 
                            matTooltip="Detalle"
                            (click)="openDetail(element.id)">
                            <i class="fa-solid fa-circle-info"></i>
                        </button>
                        <button 
                            class="button--action" 
                            type="button" 
                            matTooltip="Detalle"
                            (click)="goToEdit(element.identification)">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;" class="table__header"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </main>
    </section>

    <div class="panel__footer h-auto py-2">
        <mat-paginator [pageSizeOptions]="[25]" [pageSizeOptions]="[25, 50, 75, 100]"></mat-paginator>
    </div>
</section>
